<div *ngIf="show;else caricamento">
  <div *ngIf="todo.length>0;else noTasks" class="row">
    <div class="card text-align-center my-2 col-4 col-md-3 align-items-center bg-danger" *ngFor="let t of todo">
      <div class="card-body d-flex flex-column align-items-center">
        <h3>{{t.title | uppercase}}</h3>
        <button class="btn btn-success mx-auto" (click)="todoDelete(t.id)">Fatto<i class="bi bi-check2-circle"></i></button>
      </div>
    </div>
  </div>
</div>

<ng-template #caricamento>
  <div><p class="text-center fs-3">Caricamento<i class="bi bi-hourglass-split"></i></p> </div>
</ng-template>

<ng-template #noTasks>
  <div><p class="text-center fs-3">Non ci sono Task</p></div>
</ng-template>
