<div id="hero">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" [muted]="'muted'" loop="loop">
    <source src="../../assets/video/teaser.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 text-white">
        <h4><i class="bi bi-film"></i> serie</h4>
        <img class="logo" src="../../assets/img/Stranger-Things-logo.png" alt="Stranger Thing Logo">
        <h3>Guarda subito la 4 stagione</h3>
        <button type="button" class="btn btn-light disabled"><i class="bi bi-play-fill"></i> Riproduci</button>
      </div>
    </div>
  </div>
</div>
