<div class="form-signin w-50 mx-auto text-center">
    <form>
        <i class="bi bi-film fs-1"></i>
        <h1 class="h3 mb-3 fw-normal">Accedi al tuo Account!</h1>

        <div class="mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" class="mt-1 fs-5">Email</label>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword" class="mt-1 fs-5">Password</label>
        </div>
        <button class=" btn btn-lg btn-success" type="submit">Entra</button>
    </form>
</div>
