body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    background-position: center center;
    line-height: 24px;
    

}

/*HEADERr*/

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    background-image: linear-gradient(red, blue);
    box-shadow: 2px 2px 2px #666;
}

#logo{
    width: 60%;
    margin: 20px auto;
}

#motto{
    margin-bottom: 20px;
    color: #fff;
}

#menu_header{
    margin-bottom: 20px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

#menu_header li a:hover{
    color:black;
    font-size: 30px;
}

/*fine HEADER inizio MIAN*/

main{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 2px 2px 2px #666;
    padding: 10px 10px ;
    font-weight: 300;
    font-size: medium;
    box-sizing: border-box;
}

h1{
    font-weight: 500;
    margin: 20px 0;
    font-size: x-large;
    
}
#mario-rossi{
    margin-bottom: 20px;
    opacity: 0.4;
}
.paragrafi{
    margin-bottom: 20px;
}
.bold{
    font-weight: 500;
    opacity: 0.6;
}

.liste{
    padding-left: 30px;
    margin-bottom: 20px;
}

/*TABELLA*/

table{
    width: 90%;
    margin: 0 auto;
    border-bottom: solid 2px cyan;
    margin-bottom: 20px;
}
table caption{
    font-style: italic;
    font-weight: 500;
}
thead{
    background-color: cyan;
}

.table-decoration{
    background-color: lightgrey;
    border-bottom: solid 1px #666;
    border-top: solid 1px #666 ;
}
th, td{
    text-align: center;
    padding: 15px 10px;
}


/*VIDEO*/
iframe{
    width: 90%;
    margin: 0 5%;
    margin-bottom: 20px;
    border-radius: 20px;
}

#form_newsletter{
    background-color:lightgray;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
   
}

#novità {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 1.5em;
    
}

#testo-form{
   margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
}
form{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}
input{
    border-style: none;
    border-bottom: dashed 1px black;
    width: 60%;
    margin-left: 7.5%;
}
button{
    border-style: none;
    background-color: blue;
    color: #fff;
    width: 20%;

}
button:hover{
    background-color: red;
    color: black;
}

/* inizio ARTICLES*/

#articoli{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 20px;
}

footer{
    width: 90%;
    margin: 10px auto;
    background-color: cornflowerblue;
    text-align: center;
    box-shadow: 2px 2px 2px #666;
}

