button {
  padding: 5px;
  color: $colore-scritte;
  border-radius: 2px;
  &:hover {
    transform: $hover-bottone;
  }
}
#bottone1 {
  background-color: $colre-bottone-1;
}
#bottone2 {
  background-color: $colre-bottone-2;
}
