$larghezza-header: 100%;
$grandezza-h1: 30px;
$colore-body: blue;
$colre-bottone-1: orange;
$colre-bottone-2: grey;
$colore-scritte: white;
$colore-hover: red;
$hover-bottone: scale(1,2);
$centrato: 0 auto;
$larghezza-contenitore: 80%;