h1{
    font-size: 2em;
    font-weight: 300;
}
h2{
    font-size: 1em;
    font-weight: 300;
}

p{
    font-size: 0.7em;
    font-weight: 200;
}

@media screen and(min-width: 768px){
    h1{
        font-size: 3em;
        font-weight: 300;
    }
    h2{
        font-size: 2em;
        font-weight: 300;
    }
    
    p{
        font-size: 1em;
        font-weight: 200;
    } 
}
@media screen and(min-width: 992px){
    h1{
        font-size: 4em;
        font-weight: 300;
    }
    h2{
        font-size: 3em;
        font-weight: 300;
    }
    
    p{
        font-size: 1em;
        font-weight: 200;
    }
}