<nav class="navbar navbar-light bg-light justify-content-center mb-3">
  <div class="" id="navbarNav">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" [routerLink]="['/todo']" routerLinkActive="router-link-active" >Todo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/completed']" routerLinkActive="router-link-active" >Completed</a>
      </li>
    </ul>
  </div>
</nav>
