<div *ngIf="show;else caricamento">
	<div *ngIf="completed.length>0;else noLavoro">
	<div class="card my-2 w-50" *ngFor="let t of completed" >
		<div class="card-body">
			<h3>{{t.title}}</h3>
			<p>{{t.completed}}</p>
			<button (click)="reset(t.id)">Ripristina</button>
			<button (click)="remove(t.id)">Elimina</button>
		</div>
	</div>
	</div>
</div>

<ng-template #caricamento>
	<div>Caricamento...</div>
</ng-template>

<ng-template #noLavoro>
	<div>Hai completato tutte le task</div>
</ng-template>
