body{
    margin: 0;
}

header{
    background-color: rgb(255, 247, 227);
}

#main-menu{
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

#logo{
    width: 15%;
}