<div class="w-100 text-end">
	<button type="button" class="btn btn-success me-5" data-bs-toggle="modal" data-bs-target="#aggiungiPost"><i class="bi bi-pencil-square"></i> Aggiungi Post</button>
  <div class="modal fade" id="aggiungiPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="aggiungiPostLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="aggiungiPostLabel">Aggiungi Articolo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-between py-5">
	<div class="card" style="width: 50rem;">
		<div class="card-header">
			Articoli Pubblicati
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item d-flex justify-content-between" *ngFor="let p of posts" >
				{{p.title}}
				<span>
					<button type="button" class="btn btn-primary mx-1" ><i class="bi bi-pencil-square"></i></button>
					<button type="button" class="btn btn-danger mx-1" (click)="elimina(p.id)" ><i class="bi bi-trash"></i></button>
				</span>
			</li>
		</ul>
	</div>
	<div>
    <form>

    </form>
  </div>
</div>
