<header class="p-3 border-bottom">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none" routerLink="/">
				<i class="bi bi-film"></i>
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a class="nav-link px-2 link-secondary" routerLink="/">Home</a></li>
				<li><a class="nav-link px-2 link-dark" routerLink="/film">Film</a></li>
			</ul>

			<div *ngIf="!logged">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modaleAccesso">Entra</button>

				<div class="modal fade" id="modaleAccesso" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="exampleModalLabel">Profilo</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body d-flex justify-content-center py-5 ">
								<div class="px-5">
									<h3>Accedi</h3>
									<app-login></app-login>
								</div>
								<div class="px-5">
									<h3>Registrati</h3>
									<app-signup></app-signup>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

            <div *ngIf="logged" class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Bentornato, {{utente.nome}} <i class="bi bi-person-circle fs-5" ></i>
                    </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item disabled" href="#">Impostazioni</a></li>
                    <li><a class="dropdown-item disabled" href="#">Abbonamento</a></li>
                    <li><a class="dropdown-item " routerLink="/my-profile">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" (click)="esci()">Esci</a></li>
                </ul>
            </div>
		</div>
	</div>
</header>
