<div class="container">
  <div class="row">
    <div class="col-6 d-flex flex-column justify-content-center">
      <h1>La mia prima esperienza con Angular!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatum laudantium ipsum cumque blanditiis ab voluptas delectus ex vero aperiam veritatis perferendis quos quibusdam nostrum excepturi itaque possimus, placeat vel!</p>
    </div>
    <div class="col-6">
      <img class="w-100" src="../../../assets/Angular_full_color_logo.svg.png" alt="logo-angular">
    </div>
  </div>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../../../assets/Angular_full_color_logo.svg.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../assets/Angular_full_color_logo.svg.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Angular_full_color_logo.svg.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


</div>

